// // TODO - make these interchangeable
// // <Tag type={talk.eventType} />
// // background-color: type === 'meetup' ? #db0606 : #ddaa03;
// const MeetupTag = styled('span')`
//   background-color: #db0606;
//   color: #fff;
//   font-size: 10px;
//   height: 12px;
//   align-self: center;
//   padding: 0.2rem;
//   margin-top: 0.6rem;
// `

// const ConferenceTag = styled('span')`
//   background-color: #ddaa03;
//   color: #fff;
//   font-size: 10px;
//   height: 12px;
//   align-self: center;
//   padding: 0.2rem;
//   margin-top: 0.6rem;
// `

.talk-description {
  font-style: italic;
  word-wrap: break-word;
  width: 345px;
  align-self: center;
}
